.App {
  text-align: center;
}

.gameArea {
  position: relative;
  width: 800px;
  height: 600px;
  background-color: black;
  margin: auto;
}

.paddle {
  position: absolute;
  width: 20px;
  height: 100px;
  background-color: white;
}

.ball {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
}
